<h3>Edit recipe/Add recipe</h3>
<form class="mb-5" [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
    <!-- Input for recipe name -->
    <div class="form-group">
        <label for="name">Recipe name</label>
        <input type="text" class="form-control" id="name" placeholder="Recipe name goes here" formControlName="name">
        <div class="invalid-feedback"
            *ngIf="recipeForm.get('name').hasError('required') && recipeForm.get('name').touched">
            This field is required!
        </div>
        <div class="invalid-feedback" *ngIf="recipeForm.get('name').hasError('minlength')">
            This field accepts a minimum of 4 characters!
        </div>
        <div class="valid-feedback" *ngIf="recipeForm.get('name').valid">
            This looks good!
        </div>
    </div>
    <!-- Input for recipe description -->
    <div class="form-group">
        <label for="description">Description</label>
        <textarea class="form-control" id="description" rows="4" placeholder="Recipe description goes here"
            formControlName="description"></textarea>
        <div class="invalid-feedback"
            *ngIf="recipeForm.get('description').hasError('required') && recipeForm.get('description').touched">
            This field is required!
        </div>
        <div class="invalid-feedback" *ngIf="recipeForm.get('description').hasError('minlength')">
            This field accepts a minimum of 10 characters!
        </div>
        <div class="valid-feedback" *ngIf="recipeForm.get('description').valid">
            This looks good!
        </div>
    </div>
    <!-- Input for recipe image path -->
    <div class="form-group">
        <label for="imgPath">Path to image</label>
        <input type="text" class="form-control" id="imgPath" placeholder="http://example.com/path-to-image"
            formControlName="imgPath">
        <div class="invalid-feedback"
            *ngIf="recipeForm.get('imgPath').hasError('required') && recipeForm.get('imgPath').touched">
            This field is required!
        </div>
        <!-- <div class="invalid-feedback" *ngIf="recipeForm.get('imgPath').hasError('pattern')">
            This is not a valid URL!
        </div> -->
        <div class="valid-feedback" *ngIf="recipeForm.get('imgPath').valid">
            This looks good!
        </div>
        <div class="row mt-3">
            <div class="col">
                <h5>Preview image</h5>
                <img src="{{ recipeForm.get('imgPath').value }}" alt="" class="img-fluid">
            </div>
        </div>
    </div>
    <!-- Input for recipe ingredients -->
    <div class="row" formArrayName="ingredients">
        <div class="col-sm-12">
            <button class="btn btn-warning mb-3" type="button" (click)="addIngredient()">Add Ingredient</button>
        </div>
        <div class="col">
            <div class="row" *ngFor="let ingredient of getIngredientsControls(); let i = index;" [formGroupName]="i">
                <div class="col-sm-8">
                    <div class="form-group">
                        <label for="">Ignredient {{ i+1 }}</label>
                        <input type="text" class="form-control" placeholder="Ingredient {{ i+1 }}"
                            formControlName="name">
                        <div class="invalid-feedback"
                            *ngIf="">
                            This field is required!
                        </div>
                        <div class="invalid-feedback" *ngIf="">
                            This is not a valid URL!
                        </div>
                        <div class="valid-feedback" *ngIf="">
                            This looks good!
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="">Ammount</label>
                        <input type="text" class="form-control" placeholder="Amount" formControlName="amount">
                    </div>
                </div>
                <div class="col-sm-1">
                    <button class="btn btn-danger cancel" type="button">X</button>
                </div>
            </div>
        </div>
    </div>
    <button class="btn btn-success" type="submit"
        [disabled]="!recipeForm.valid">{{ editMode ? 'Edit Recipe' : 'Add Recipe' }}</button>
    <button class="btn btn-danger ml-4" type="button">Cancel</button>
</form>