<div class="row">
    <div class="col">
        <img src="{{ recipe.imgPath }}" alt="{{ recipe.name }}" class="img-fluid">
    </div>
</div>
<div class="row">
    <div class="col">
        <h1>{{ recipe.name }}</h1>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="dropdown" appDropdown>
            <button class="btn btn-warning dropdown-toggle" type="button">
                Dropdown
            </button>
            <div class="dropdown-menu">
                <button class="dropdown-item" type="button" (click)="onAdd()">To Shopping List</button>
                <button class="dropdown-item" [routerLink]="['/recipes', id, 'edit']" routerLinkActive="active" >Edit Recipe</button>
                <button class="dropdown-item" type="button" (click)="deleteRecipe()">Delete Recipe</button>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <p>{{ recipe.description }}</p>
    </div>
</div>
<div class="row">
    <div class="col">
        <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center"
                *ngFor="let ingredient of recipe.ingredients">
                {{ ingredient.name }}
                <span class="badge badge-primary badge-pill">{{ ingredient.amount }}</span>
            </li>
        </ul>
    </div>
</div>