<div class="row">
    <div class="col">
        <app-shopping-edit
            (deletedFromList)="onIngredientDeleted()"></app-shopping-edit>
        <hr>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col col-md-8">
        <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center" style="cursor: pointer"
                *ngFor="let ingredient of ingredients; let i = index;"
                (click)="editIngredient(i)">
                {{ ingredient.name }}
                <span class="badge badge-warning badge-pill">{{ ingredient.amount }}</span>
                <button type="button" class="close" aria-label="Close" (click)="onIngredientDeleted(i)">
                    <span aria-hidden="true">&times;</span>
                </button>
            </li>
        </ul>
    </div>
</div>