<app-header></app-header>
<div class="container">
    <div class="row">
        <div class="col">
            <div class="col">
                <h2>App Main</h2><br>
            </div>
        </div>
    </div>
    <!-- <div class="row" *ngIf="selectedFeature === 'recipes'">
        <div class="col">
            <app-recipes></app-recipes>
        </div>
    </div>
    <div class="row" *ngIf="selectedFeature === 'shoppingList'">
        <div class="col">
            <app-shopping-list></app-shopping-list>
        </div>
    </div> -->
    <router-outlet></router-outlet>
</div>