<a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"
    [routerLink]="['/recipes', index]"
    routerLinkActive="active" 
    style="cursor: pointer">
    <div class="flex-column">
        <h4 class="list-group-item-heading">{{ recipe.name }}</h4>
        <p>{{ recipe.description }}</p>
        <span class="badge badge-info badge-pill">{{ ingredientCount }} ingredients</span>
    </div>
    <div class="image-parent">
        <img src="{{ recipe.imgPath }}" class="img-fluid" alt="{{ recipe.name }}" style="max-height: 85px;">
    </div>
</a>