<div class="row">
    <div class="col">
        <a class="btn btn-success" [routerLink]="['/recipes', 'new']" routerLinkActive="router-link-active" >Add Recipe</a>
    </div>
</div>
<div class="row mt-5">
    <div class="col">
        <ul class="list-group">
            <app-recipe-item
                *ngFor="let item of recipes; let i = index"
                [recipe]="item"
                [index]="i"
                class="margin-bottom-sm"></app-recipe-item>
        </ul>
    </div>
</div>