<div class="row">
    <div class="col">
        <form [formGroup]="shoppingForm" (ngSubmit)="addToList()">
            <div class="row">
                <div class="col col-sm-6 col-md-4">
                    <label for="name">Name</label>
                    <input type="text" id="name" class="form-control" name="name" required
                        formControlName="name">
                    <div class="invalid-feedback" 
                        *ngIf="shoppingForm.get('name').hasError('required') && shoppingForm.get('name').touched">
                        This field is required!
                    </div>
                    <div class="invalid-feedback" 
                        *ngIf="shoppingForm.get('name').hasError('minlength')">
                        This field requires a 3 character input!
                    </div>
                    <div class="valid-feedback" 
                        *ngIf="shoppingForm.get('name').valid">
                        This looks good!
                    </div>
                </div>
                <div class="col col-sm-2">
                    <label for="amount">Amount</label>
                    <input type="text" id="amount" class="form-control" name="amount" required
                        formControlName="amount">
                    <div class="invalid-feedback" 
                        *ngIf="shoppingForm.get('amount').hasError('required') && shoppingForm.get('amount').touched">
                        This field is required!
                    </div>
                    <div class="invalid-feedback" 
                        *ngIf="shoppingForm.get('amount').hasError('pattern')">
                        This field accepts only positive numbers!
                    </div>
                    <div class="valid-feedback" 
                        *ngIf="shoppingForm.get('amount').valid">
                        This looks good!
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col">
                    <button class="btn btn-success mr-2" type="submit"
                        [disabled]="!shoppingForm.valid">{{ editMode ? 'Update' : 'Add' }}</button>
                    <button class="btn btn-danger mr-2" type="button"
                        (click)="deleteFromList()"
                        >Delete</button>
                    <button class="btn btn-primary" type="button"
                        (click)="clearInputs()">Clear</button>
                </div>
            </div>
        </form>
    </div>
</div>